{% extends "persian.html" %}
{% load jalali_tags %}
{% load static %}
{% block content %}
<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">رزومه</span></h1>
    </div>
    {% if resume_list %}
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section dir="rtl">
                <div class="d-flex align-items-center justify-content-between mb-4" >
                    <h2 class="text-primary fw-bolder mb-0" dir="ltr">دوره های اموزشی</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->           
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5" >
                    
                    {% for item in resume_list %}
                    <div class="card-body p-5" dir="rtl">
                        <div class="row align-items-center gx-5" dir"ltr">
                            <div class="col mb-4 mb-lg-0" >
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2" dir"rtl">{{  item.startyear |to_jalali:'%Y/%m/%d' }} - {{ item.endyear |to_jalali:'%Y/%m/%d' }}</div>
                                    <div class="small fw-bolder">{{ item.experiencename_persian }}</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>{{ item.aboutexperience_persian }}</div></div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </section>
            <!-- Education Section-->
            <section dir="rtl">
                <h2 class="text-secondary fw-bolder mb-4">تحصیلات</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5" dir="rtl">
                    {% for item in resume_list %}
                    <div class="card-body p-5" dir="rtl">
                        <div class="row align-items-center gx-5" dir="rtl">
                            <div class="col mb-4 mb-lg-0" dir="rtl">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">{{ item.startyear_education |to_jalali:'%Y' }} - {{ item.endyear_education |to_jalali:'%Y' }}</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">{{ item.nameinstitute_persian }}</div>
                                            <div class="small text-muted">{{ item.namecity_persian }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>{{ item.abuotinstitute_persian }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4" dir="rtl">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0" style="position: relative; right: 20px;"><span class="text-gradient d-inline">مهارت های حرفه ای</span></h3>
                            </div>
                            {% for item in resume_list %}
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                            
                                {% for item in item.professional_skill_persian.all %}
                                    <div class="col mb-4 mb-md-0" dir="rtl"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ item }}</div></div>
                                {% endfor %}
                            
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4" dir="rtl">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0" style="position: relative; right: 20px;"><span class="text-gradient d-inline">زبان ها </span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                            {% for item in resume_list %}
                                {% for item in item.language_persian.all %}
                                    <div class="col mb-4 mb-md-0" dir="rtl">
                                        <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ item }}</div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% else %}
    <center><div class="fs-3 fw-light text-muted">You don't have any resume right now.</div></center>
    <center><h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">You can build your first resume right now</span></h1></center>
        <center><a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'new_resume' %}">New Resume</a></center>
    {% endif %}
    
</div>
{% endblock content %}