{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="custom-cart-wrapper">
  <div class="custom-cart-box">
    <h2>سبد خرید</h2>
    <div class="custom-cart-item">
      <img src="https://via.placeholder.com/100x80.png?text=Shoes" alt="محصول">
      <div class="custom-cart-details">
        <h3>کفش چرمی قهوه‌ای</h3>
        <p>یک جفت کفش چرمی قهوه‌ای بنددار با طراحی کلاسیک</p>
      </div>
      <div class="custom-cart-price">۸۹.۹۹$</div>
    </div>
    <div class="custom-cart-total">مجموع: ۸۹.۹۹$</div>
    <div class="custom-cart-buttons">
      <button class="back-btn">بازگشت</button>
      <button class="remove-btn">حذف محصول</button>
    </div>
  </div>
    </section>
{% endblock content %}
