{% extends "base.html" %}
{% load static %}
{% block content %}
<form class="search-form" method="GET">
                {% csrf_token %} 
                {{ searchForm }}
                
                <button type="submit" class="search-button">
                  <img src="{% static "images/search-icon.png" %}">
                    <i class="fas fa-search"></i> Search
                </button>
               </form>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Beauty <br>Kit</h1>
                           <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                           <div class="read_bt"><a href="{% url 'products' %}">Buy Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Beauty <br>Kit</h1>
                           <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                           <div class="read_bt"><a href="#">Buy Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Beauty <br>Kit</h1>
                           <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                           <div class="read_bt"><a href="#">Buy Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-6">
                           <h1 class="banner_taital">Beauty <br>Kit</h1>
                           <p class="banner_text">Ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                           <div class="read_bt"><a href="#">Buy Now</a></div>
                        </div>
                        <div class="col-sm-6">
                           <div class="banner_img"><img src="{% static "images/banner-img.png" %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- product section start -->
      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="product_taital">Our Products</h1>
                  <p class="product_text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
               </div>
            </div>
            <div class="product_section_2 layout_padding">
               <div class="row">
                  {% for item in proall %}
                  <div class="col-lg-3 col-sm-6">
                     <div class="product_box">
                        <h4 class="bursh_text">{{ item.name }}</h4>
                        <p class="lorem_text">{{ item.about }}</p>
                        <img src="{{ item.image.url }}" class="image_1">
                        <div class="btn_main">
                           <div class="buy_bt">
                              <ul>
                                 
                                 <li><a href="{% url 'product' item.pk %}">See More</a></li>
                              </ul>
                           </div>
                           <h3 class="price_text">Price ${{ item.price }}</h3>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
               <div class="seemore_bt"><a href="{% url 'products' %}">See More</a></div>
            </div>
         </div>
      </div>
      <!-- product section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="about_section_main">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_taital_main">
                        <h1 class="about_taital">About Our beauty sotore</h1>
                        {% for i in item %}
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 300px;" class="about_text">{{ i.aboutcustomer }}</p>
                        {% endfor %}
                        <div class="readmore_bt"><a href="{% url 'about' %}">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div><img src="{% static "images/about-img.png" %}" class="image_3"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- customer section start -->
      
      <!-- customer section end -->
      <!-- contact section start -->
      
      <!-- contact section end -->
      <!-- footer section start -->

{% endblock content %}