{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <h1 class="fashion_taital">Categorys</h1>
    <div class="fashion_section_2">
      <div class="row">
        {% for item in category %}
          <div class="col-lg-4 col-sm-4">
            <div class="box_main">
              <h4 class="shirt_text">{{ item.name }}</h4>
              <div class="tshirt_img">
                <img src="{{ item.image.url }}" />
              </div>
              <div class="btn_main">
                <div class="buynow_bt"><a href="{% url 'category' item.name %}">See More</a></div>
                
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}