{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<br>
<br>
<center><div class="container">
        <div class="col-6">
            <h1>وارد شدن</h1>
            <p>توجه تنها مشاورین املاک می توانن وارد شوند</p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-success">ورود</button>
            </form>
        </div>
</div></center>
<br>
<br>
<br>
<br>
{% endblock content %}