{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="special" class="tm-page-content">
    <div class="tm-special-items">
      {% for item in special %}
      <div class="tm-black-bg tm-special-item">
        <img src="{{ item.imge.url }}" alt="Image">
        <div class="tm-special-item-description">
          <h2 class="tm-text-primary tm-special-item-title">{{ item.name }}</h2>
          <p class="tm-special-item-text">{{ item.description }}</p>
          <span class="tm-list-item-price">${{ item.price  | intcomma }}</span></h3>  
        </div>
      </div>
      {% endfor %}                    
    </div>            
  </div>
{% endblock content %}