{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br><br>
<!-- From Uiverse.io by MuhammadHasann --> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/product.css' %}">
</head>
<body>
    <div class="product-card">
        <img src="{% static 'myapp/images/yellow-shoe.png' %}" alt="Product Image" class="product-image">
        <div class="product-info">
            <h1 class="product-title">Product Name</h1>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor.</p>
            <div class="product-price">$99.99</div>
            <div class="product-sizes">
                <button>S</button>
                <button>M</button>
                <button>L</button>
            </div>
            <button class="add-to-cart">ADD TO CART</button>
        </div>
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function(){
    $('.add-to-cart-btn').click(function(){
        var productId = $(this).data('product-id');

        $.ajax({
            url: '{% url "ajax_add_to_cart" %}',
            method: 'POST',
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response){
                if(response.success){
                    $('#cart-message').text(response.message).css('color', 'green');
                } else {
                    $('#cart-message').text(response.message).css('color', 'red');
                }
            }
        });
    });
});
</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>






{% endblock  %}
