{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br><br>
<!-- From Uiverse.io by MuhammadHasann --> 
 
<div class="container" class="card" >
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  <div class="image_container">
   
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" src="{{product.image.url}}"class="image">
      <path>
        <img src="{{product.image.url}}">
      </path>
    </svg>
  </div>
  <div class="title">
    <span>New brand name</span>
  </div>
  
  <div class="action">
    <div class="price">
      <span>$299</span>
    </div>
    <button class="cart-button">
      <svg
        class="cart-icon"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          stroke-linejoin="round"
          stroke-linecap="round"
        ></path>
      </svg>
      <span>Add to cart</span>
    </button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function(){
    $('.add-to-cart-btn').click(function(){
        var productId = $(this).data('product-id');

        $.ajax({
            url: '{% url "ajax_add_to_cart" %}',
            method: 'POST',
            data: {
                product_id: productId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response){
                if(response.success){
                    $('#cart-message').text(response.message).css('color', 'green');
                } else {
                    $('#cart-message').text(response.message).css('color', 'red');
                }
            }
        });
    });
});
</script>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>






{% endblock  %}