{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
{% if cart and cart.items.all %}
{% for item in cart.items.all %}
<div class="container">
    <div class="card mb-3" style="">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.product.name }}</h5>
              <p class="card-text">{{ item.product.about }}</p>
              
              {% comment %} <p class="card-text">{{product.sale_price }} تومان</p> {% endcomment %}
              {% if is_sale %}
              <strike>{{  item.product.price }} $</strike><br> 
              <p class="card-text">{{ item.product.sale_price }}</p>
              {% else %}
              <p class="card-text">{{ item.product.price }}</p>
              {% endif %}
              <br><br>
              <button class='remove-item-btn' data-item-id="{{ item.product.id }}">حذف</button>
              <a href="{% url 'home' %}" class='btn btn-secondary'>بازگشت یه صفحه اصلی</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endfor %}  
<br><h3 style="text-align: right;">تومان{{total}} : مجموع کل سفارشات</h3>
{% else %} 
<center><h1> Not Product </h1></center> 
{% endif %} 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){
      $('.remove-item-btn').click(function(){
          let itemId = $(this).data('item-id');
          $.ajax({
              url: "{% url 'ajax_remove_from_cart' %}",
              method: 'POST',
              data: {
                  item_id: itemId,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                  if (response.success) {
                      location.reload();  // یا می‌تونی با JS فقط اون خط رو حذف کنی
                  } else {
                      alert(response.message);
                  }
              }
          });
      });
  });
  </script>  
{% endblock  %}

