{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
{% if cart and cart.items.all %}
{% for item in cart.items.all %}
<div class="container">
    <div class="card mb-3" style="">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ item.product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.product.name }}</h5>
              <p class="card-text">{{ item.product.about }}</p>
              
              {% comment %} <p class="card-text">{{product.sale_price }} تومان</p> {% endcomment %}
              {% if is_sale %}
              <strike>{{  item.product.price }} $</strike><br> 
              <p class="card-text">{{ item.product.sale_price }}</p>
              {% else %}
              <p class="card-text">{{ item.product.price }}</p>
              {% endif %}
              <br><br>
              <div><link rel="stylesheet" href="{% static 'css/buten.css' %}">
                <button class='remove-item-btn' data-item-id="{{ item.id }}">Delete</button>
                <br>
                <a href="{% url 'home' %}" class='btn btn-secondary'>Home</a>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
</div>
{% endfor %}  
{% else %} 
<div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favriot Teshrt</h1>
                              <div class="buynow_bt"><a href="{% url 'category' 'Tshirts' %}">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favriot Compeuter</h1>
                              <div class="buynow_bt"><a href="{% url 'category' 'labtop' %}">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital">Get Start <br>Your favriot Javaher</h1>
                              <div class="buynow_bt"><a href="{% url 'category' 'jewellerys' %}">Buy Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                  </a>
               </div>
            </div>
         </div>
</div>
{% endif %} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){
      $('.remove-item-btn').click(function(){
          let itemId = $(this).data('item-id');
          $.ajax({
              url: "{% url 'ajax_remove_from_cart' %}",
              method: 'POST',
              data: {
                  item_id: itemId,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                  if (response.success) {
                      location.reload();  // یا می‌تونی با JS فقط اون خط رو حذف کنی
                  } else {
                      alert(response.message);
                  }
              }
          });
      });
  });
</script>  
{% endblock  %}

